.git
.gitignore
node_modules
.next/cache
.next/server
.next/types
.env
.env.*
*.md
Dockerfile
spec.yaml
src
tsconfig.json
tailwind.config.js
postcss.config.js
next.config.js
package.json
package-lock.json
